@font-face {
    font-family: 'Philosopher';
    src: url('./../fonts/Philosopher-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#designBlurb {
    padding-bottom: 4em;
    color: black;
}

.PhiloText {
    font-family: 'Philosopher', 'Times New Roman';
}

article header h2 {
    font-family: 'Philosopher', 'Times New Roman';
}

#one img,
#three img {
    height: 20rem;
    object-fit: cover;

}

#CatalogSample {
    object-position: 0% 20%;
}

.MenuIcons {
    display: flex;
    justify-content: space-around;    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 3rem;
}

/* scrolling lightbox styling */

.row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(29, 29, 29, 0.9)
}
  
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  height: fit-content;
  width: fit-content;
  max-width: 90%;
}

.modal-content > .slides {
    display: none;
    position: relative;
    height: 30em;
}
  
.close {
  color: red;
  position: absolute;
  right: 14px;
  font-size: 30px;
  font-weight: initial;
  z-index: 2;
}
  
.close:hover {
  color: black;
  cursor: pointer;
  transition: 0.6s ease;

}
    
.prev:hover,
.next:hover {
  color: black;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 5px;
  color: red;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}
  
.next {
  right: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  /* background-color: black; */
  padding: 2px 16px;
  color: white;
}
  
span#thumbnailRow {
  position: absolute;
  text-align: center;
  display: inherit;
}

/* thumbnails */
img.thumbnail {
  /* position: relative; */
  height: 4em;
  opacity: 0.6;
}
  
.active,
.thumbnail:hover {
  opacity: 1;
  transition: 0.6s ease;
}
  
img.hover-shadow {
    transition: 0.3s ease;
}
  
.hover-shadow:hover {
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.1), 
        0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

@media screen and (max-width: 736px) {

    .modal-content > .slides {
        height: 25em;
    }
        
}

@media screen and (max-width: 600px) {
    .modal-content > .slides {
        height: 20em;
    }
}

@media screen and (max-width: 480px) {
    .modal-content > .slides {
        height: 15em;
    }
}

/* webDev Page Styling Hovers */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.hoverImg:hover .overlay {
  opacity: 1;
  background-color: rgba(201,201,200,.95)
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.text h1 {
  font-size: 20px;
}

.fa-github, .fa-chevron-circle-right{
  color: black;
  margin: .75rem .5rem 0 .5rem;
}

.fa-github:hover, .fa-chevron-circle-right:hover{
  color: red;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  top: .75em;
  left: 105%; 
}

